{
  "serviceAccountPaths": {
    "staging": "service.json",
    "production": "service.json"
  },
  "projectIds": {
    "staging": "your-staging-project-id",
    "production": "your-production-project-id"
  },
  "services": [
    {
      "name": "frontend",
      "envPath": ".environments/.frontend.{env}.env",
      "targetPath": "web/app/.env",
      "secretPrefix": "FE"
    },
    {
      "name": "backend",
      "envPath": ".environments/.backend.{env}.env",
      "targetPath": "services/backend/.env",
      "secretPrefix": "BACKEND"
    },
    {
      "name": "api",
      "envPath": ".environments/.api.{env}.env",
      "targetPath": "services/api/.env",
      "secretPrefix": "API"
    },
    {
      "name": "worker",
      "envPath": ".environments/.worker.{env}.env",
      "targetPath": "services/worker/.env",
      "secretPrefix": "WORKER"
    }
  ]
} 